*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}
body{background:#050505;color:#fff}
.navbar{position:fixed;top:0;width:100%;background:#000;padding:15px 40px;display:flex;justify-content:space-between;z-index:999}
.navbar h1{color:#00ffcc}
nav a{color:#fff;margin-left:15px;text-decoration:none}
nav a:hover{color:#00ffcc}
section{padding:100px 60px;text-align:center}
.dark{background:#0b0b0b}
.hero{height:100vh;display:flex;flex-direction:column;justify-content:center}
.stats{display:flex;justify-content:center;gap:50px;margin-top:40px}
.stats span{font-size:50px;color:#00ffcc}
.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(220px,1fr));gap:25px}
.card{background:#111;padding:35px;border-radius:14px}
.price-box{background:#111;padding:45px;display:inline-block}
.price-box span{font-size:45px;color:#00ffcc}
footer{background:#000;padding:25px;text-align:center}
.reveal{opacity:0;transform:translateY(70px);transition:1s}
.reveal.active{opacity:1;transform:translateY(0)}
input,select,button{padding:10px;margin:10px;width:250px}
button{background:#00ffcc;border:none;cursor:pointer}
